*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: #f6f8f9;
    

}
.white-container{
    background-color: white;
}
.logo-boolean{
    padding-top: ;
    padding-left: 30px;
    height: 50px;

}
.text-logo{
    padding-bottom: 30px;
    font-size: 40px;

}
.button-container{

    margin: 40px auto 3px;
    width: 80%;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
li{
    list-style: none;
    margin-bottom: 20px;
}
.list-container{
    margin:0 auto;
    width: 80%;
    height: 550px ;
    padding: 40px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.add-button{
    border-radius: 5px;
    padding: 5px;
    color: white;
}
/* BLUE-BUTTON */
#blue-button{
    border:solid#ccd1d5;
    color:#ccd1d5;
}
.down-triangle{
    font-size: 15px;
}
.circle {

    border-radius: 50%;
    font-size: 8px;
    padding: 3px;
    width: 3px;
}
.check{
    border: 1px solid #9ad7c8;
    color: #9ad7c8;
}
.uncheck{
    border: 1px solid #eb5a53;
    color:#eb5a53;
}
.button-list{
    border-radius: 30px;
    padding: 4px;
    font-size: 10px;
    color: white;
}
.list{
    margin-top: 30px;
}
/* BUTTON COLORS */
.blu{
    background-color: #45abea;
    border: solid #45abea;
}
.violet{
    background-color: #9c72e4;
    border:solid #9c72e4;
}
.turquoise{
    background-color: #64c0a9;
    border:solid #64c0a9;
}
.orange{
    background-color:#f29e33 ;
    border: solid #f29e33;
}
.pink{
    background-color: #d863a1;
    border-color: solid #d863a1;
}
.green{
    background-color: #b0c926;
    border: solid #b0c926;
}
